@custom-media --sm (width <=500px);
@custom-media --md (width <=960px);

.nav-wrapper {
    padding-bottom: 20vh;

    .nav {
        position: fixed;
        width: 95%;
        z-index: 999;
        padding: 2% 0vh 0vh 5%;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .nav-link {
            color: #fff;
            text-decoration: none;
            font-size: clamp(14px, 2vw, 32px);
            padding: 5px 20px;
            font-weight: 700;
            transition: .5s;

            &:hover {
                color: black;
            }

            @media (--sm) {
                display: none;
            }
        }
    }
}

.hidden-nav-wrapper {
    display: none;

    @media (--sm) {
        display: flex;
    }

    .nav-btn {
        border: none;
        background: none;
    }

    .hidden-nav {
        display: none;
        position: absolute;
        list-style: none;
        display: none;
        flex-direction: column;
        align-items: center;
        top: 0;
        right: 0;
        background-color: rgb(5, 5, 5, .7);
        max-width: 320px;
        max-width: 90%;
        min-height: 100vh;

        .hidden-nav-link {
            margin: 5px;
            color: #fbbb43;
            text-decoration: none;
            font-size: clamp(18px, 2vw, 32px);
            padding: 5px 20px;
            font-weight: 700;
            letter-spacing: 3px;
            text-transform: uppercase;
        }

        .hidden-nav-links-wrapper {
            padding: 20px 30px 20px 30px;
            list-style: none;
            display: flex;
            flex-direction: column;
        }

        .close-hidden-nav-btn {
            padding: 15px;
            font-size: 40px;
            font-weight: 700;
            color: rgba(242, 157, 34, 1);
            border: none;
            background: none;
        }

    }
}