@custom-media --sm (width <=500px);
@custom-media --md (width <=960px);

*:disabled {
    background-color: dimgrey;
    color: linen;
    opacity: 1;
}

body {
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    display: flex;
    flex-direction: column;
    background: #141111;
    margin: 0;
}

main {
    margin: 0 15% 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 10%;

    @media (--sm) {
        margin: 0 5% 0 5%;
    }
}

.game-card-background {
    background: linear-gradient(180deg, rgb(175, 112, 24) 0%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    position: absolute;
    inset: 0;
    max-height: 700px;
    z-index: -1;
    overflow: hidden;
    transition: .3s;
}

.game-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vh;

    .game-card-img {
        align-self: center;
    }

    .game-card-img img {
        border-radius: 10px;
        outline: 1px solid rgba(255, 255, 255, 0.5);
        outline-offset: -1px;
        box-shadow: 0 1px px 0px #050505;

        @media (--sm) {
            width: 300px;
            height: 360px;
        }
    }

    .game-card-content {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;

        h1 {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 32px;
        }

        p {
            text-align: justify;
            font-weight: 500;
        }
    }

    @media (--md) {
        flex-direction: column;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-wrapper {
    width: 500px;
    align-self: center;

    @media (--md) {
        width: 300px;
    }
}

.buy-btn {
    justify-self: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 2vh;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .1);
    color: black;
    background-color: #c7860d;
    transition: .5s;

    &:hover {
        background-color: white;
    }
}

.games-collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    scrollbar-color: rgb(94, 92, 92) rgb(48, 47, 45);
    scrollbar-width: thin;
    max-width: 90%;
    gap: 30px;
    padding: 20px;

    @media (--md) {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .games-collection-card {
        position: relative;
        justify-content: center;
        text-align: center;
        border-radius: 10px;
        outline: 1px solid rgba(255, 255, 255, 0.5);
        outline-offset: -1px;
        box-shadow: 0 1px px 0px #050505;

        &:hover .games-collection-card-text {
            display: flex;
            background-color: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(5px);
            border-radius: 20px;
        }
    }

    a {
        text-decoration: none;
        color: white;
    }

    .games-collection-card-text {
        display: none;
        position: absolute;
        top: 30%;
        font-size: 20px;
        width: 90%;
        min-height: 150px;
        padding: 15px;

        @media (--sm) {
            font-size: 14px;
        }
    }

    .games-collection-card img {
        width: 280px;
        height: 320px;
        -webkit-mask: url(/images/cardshadow.png) top left / contain;

        @media (--sm) {
            width: 200px;
            height: 240px;
        }
    }

    .games-collection-card-content {
        text-align: center;
    }
}

footer {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    background-color: rgba(114, 110, 110, 0.1);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .1);
}