@custom-media --sm (width <=500px);
@custom-media --md (width <=960px);

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    display: flex;
    flex-direction: column;
    background: #141111;
    margin: 0;
}

main {
    margin: 0 15% 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 10%;

    @media (--sm) {
        margin: 0 5% 0 5%;
    }
}

.content-background {
    background: linear-gradient(180deg, rgba(242, 157, 34, 1) 0%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    width: 100vw;
    top: 0;
    height: 100vh;
    max-height: 737px;
    z-index: -1;
    overflow: hidden;
    transition: .3s;
}

.game-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vh;

    @media (--md) {
        flex-direction: column;
    }
}

.game-card-img {
    align-self: center;
}

.game-card-img img {
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, .5);
    outline-offset: -1px;
    box-shadow: 0 1px px 0px #050505;

    @media (--sm) {
        width: 300px;
        height: 360px;
    }
}

.game-card-content {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.buy-btn {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 2vh;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .1);
    color: black;
    background-color: #c7860d;
    transition: .5s;

    &:hover {
        background-color: white;
    }
}

footer {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    color: #fff;
    background-color: rgba(114, 110, 110, 0.1);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .1);
}