---
import MainLayout from "../layouts/MainLayout.astro";
import GameCardLayout from "../layouts/GameCardLayout.astro";
---

<MainLayout>
    <div class="content-background"></div>
    <GameCardLayout />
</MainLayout>
