---
import MainLayout from "../layouts/MainLayout.astro";

import Counter from "../components/Counter.jsx";
const someProps = {
	count: 1,
};
---

<MainLayout>
    <Counter {...someProps} client:visible>
        <h1>Hello, React!</h1>
    </Counter>
</MainLayout>