---
interface LinkProps {
    text: string;
    href: string;
    classes?: string[];
}

const { text, classes, href } = Astro.props as LinkProps;
---

<a class:list={classes} href={href}> {text} </a>
