---
const { dialog_id } = Astro.props;
---

<dialog id={`${dialog_id}`}>
    <div class="dialog-conntent">
        <slot>
            <!-- child's content here -->
        </slot>
        <button class="x" onclick={`window.${dialog_id}.close()`}> 
            ❌ 
        </button>
    </div>
</dialog>
