---
import { Image } from "astro:assets";

import Modal from "../components/ModalWindow.astro";
---

<div class="game-card">
    <div class="game-card-img">
        <Image
            src={"/game-sample.jpg"}
            alt={"No image :("}
            width="400"
            height="500"
            format="jpg"
            quality={100}
        />
    </div>
    <div class="game-card-content">
        <div class="game-card-title">
            <h1>Underworld Ascendant</h1>
        </div>
        <div class="game-card-description">
            <p>
                Underworld Ascendant - третье долгожданное продолжение культовой
                Ultima Underworld в формате экшен-RPG от первого лица.Игрокам
                предстоит управлять Аватаром - человеком, попавшим в подземный
                мир Стигийской Бездны, в котором ему предстоит столкнуться с
                ордами опасных врагов и великими испытаниями.
            </p>
        </div>
        <div>
            <Modal>
                <div slot="modal-content">
                    <p>типа тут "купить игру"</p>
                </div>
                <div class="buy-btn" slot="open-modal-btn">
                    <span>Купить</span>
                    <span>Underworld Ascendant</span>
                </div>
            </Modal>
        </div>
    </div>
</div>
