---
import MainHead from "./MainHead.astro";

import "../styles/global.css";
import MainHeader from "./MainHeader.astro";
import MainFooter from "./MainFooter.astro";

const {title, description = "default description"} = Astro.props;

---
<html lang="en">
    <MainHead {title} {description}/>
	<body>
		<MainHeader/>
		<main>
			<slot> 
				<!-- here is a content -->
			</slot>
		</main>
		<MainFooter/>
	</body>
</html>